
@{
    ViewBag.Title = "FinalizarCompra";
    Layout = "~/Views/Shared/_Layout_Tienda.cshtml";
}

<h2 class="text-center" style="color: black">Muchas Gracias por su compra!! Espero vuelva pronto :)</h2>
<div class="caja">
    <img src="~/Imagenes/Finalizar/realizado.png" />
</div>
<br />
<br />

<div style="text-align: center">
    @Html.ActionLink("Volver al inicio", "Index", "Tienda", null, new { @class = "agregar" })
</div>

<style>
    .caja {
        padding-top: 5%;
        padding-left: 33%;
    }

    .text-center {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
    .agregar {
        display: inline-block;
        padding: 10px 20px;
        background-color: #F8D492;
        color: black;
        text-decoration: none;
        border-radius: 5px;
    }
</style>

